<!-- <form action="/users/post" method="post">

	<input type="hidden" name="_method" value="put">
	First Name: <input type="text" name="first" value="<%= @user[:first]%>">
	Last Name: <input type="text" name="last" value="<%= @user[:last]%>">
	<input type="submit" value="Update User">

</form> -->